# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Andreas\Dropbox\Uni\MA\Fend.CPSIoT\prototype-playground\cockpit-annotation-processor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
