html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

.atom-spinner {
  display: inline-block !important;
}

.button-blue {
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color:#3d94f6;
  border-radius:6px;
  border:1px solid #337fed;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #1570cd;
}
.button-blue:hover {
  background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color:#1e62d0;
}
.button-blue:active {
  position:relative;
  top:1px;
}

.button-grey {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color:#ededed;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.button-grey:hover {
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color:#dfdfdf;
}
.button-grey:active {
  position:relative;
  top:1px;
}

.button-green {
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color:#77d42a;
  border-radius:6px;
  border:1px solid #268a16;
  display:inline-block;
  cursor:pointer;
  color:#306108;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #aade7c;
}
.button-green:hover {
  background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color:#5cb811;
}
.button-green:active {
  position:relative;
  top:1px;
}

.button-red {
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color:#fe1a00;
  border-radius:6px;
  border:1px solid #d83526;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.button-red:hover {
  background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color:#ce0100;
}
.button-red:active {
  position:relative;
  top:1px;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}