/.MetaObjectGenerator.java._trace
/.MonitorDtoGenerator.java._trace
/.CpsTsEnumGenerator.java._trace
/.CpsTsEnumGenerator.xtendbin
/.MetaObjectGenerator.xtendbin
/CpsTsEnumGenerator.java
/MetaObjectGenerator.java
