/.CatkinWsGenerator.java._trace
/.DockerfileGenerator.java._trace
/.CatkinWsGenerator.xtendbin
/.DockerfileGenerator.xtendbin
/CatkinWsGenerator.java
/DockerfileGenerator.java
/.StartupScriptGenerator.java._trace
